.pro-sidebar-inner {
    background-color: var(--primary-400);
}

.pro-icon-wrapper {
    background-color: transparent;
    color: var(--grey-900);
}

.pro-inner-item {
    padding: 5px 35px 5px 20px;
}

.pro-inner-item:hover {
    color: #868dfb;
}

.pro-menu-item.active {
    color: #6870fa;
}

.menu-item, .admin-sidebar-h3 {
    color: var(--font-color);
}

.sidebar-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    background-color: inherit;
}

.sidebar-active button {
    background-color: #2b2b2b;
    border: none;
}

.sidebar-menu-icon {
    color: var(--font-color);
    outline: none;
}
.sibebar-menu-button {
    background-color: inherit;
    border-color: inherit;
    border-radius: 0;
}

.sidebar-user-profile {
    margin-bottom: 25px;
}

.user-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.sidebar-user-title {
    text-align: center;
}

.sidebar-user-h2 {
    color: var(--font-color);
    font-weight: bold;
    margin: 10px 0 0 0;
}

.sidebar-user-h5 {
    color: var(--greenAccent-500);
}

.item {
    color: var(--font-color)
}

.sidebar-h6 {
    color: var(--grey-300);
    margin: 15px 0 5px 20px;
}

.sidebar-user-image {
    display: flex;
    align-items: center;
    justify-content: center;
}