@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

body,
html,
.app,
.content,
#root {
   height: 100%;
   width: 100%;
   font-family: 'Source Sans 3', sans-serif;
};

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


[data-theme = 'dark'] {
   
    --icons-background: #292929;
    --font-color: #292929;
    --table-name-column-color: #1e5245;
    --table-cell-hover: #e9f2fa;

    --grey-100: #e0e0e0;
    --grey-200: #c2c2c2;
    --grey-300: #a3a3a3;
    --grey-400: #858585;
    --grey-500: #666666;
    --grey-600: #525252;
    --grey-700: #3d3d3d;
    --grey-800: #292929;
    --grey-900: #dbf5ee;;

    --primary-100: #d0d1d5;
    --primary-200: #a1a4ab;
    --primary-300: #727681;
    --primary-400: #1F2A40;
    --primary-500: #141b2d;
    --primary-600: #101624;
    --primary-700: #0c101b;
    --primary-800: #080b12;
    --primary-900: #040509;

    --blueAccent-100: #e1e2fe;
    --blueAccent-200: #c3c6fd;
    --blueAccent-300: #a4a9fc;
    --blueAccent-400: #868dfb;
    --blueAccent-500: #6870fa;
    --blueAccent-600: #535ac8;
    --blueAccent-700: #3e4396;
    --blueAccent-800: #2a2d64;
    --blueAccent-900: #151632;

 
    --redAccent-100: #f8dcdb;
    --redAccent-200: #f1b9b7;
    --redAccent-300: #e99592;
    --redAccent-400: #e2726e;
    --redAccent-500: #db4f4a;
    --redAccent-600: #af3f3b;
    --redAccent-700: #832f2c;
    --redAccent-800: #58201e;
    --redAccent-900: #2c100f;
    
    --greenAccent-100: #dbf5ee;
    --greenAccent-200: #b7ebde;
    --greenAccent-300: #94e2cd;
    --greenAccent-400: #70d8bd;
    --greenAccent-500: #4cceac;
    --greenAccent-600: #3da58a;
    --greenAccent-700: #2e7c67;
    --greenAccent-800: #1e5245;
    --greenAccent-900: #0f2922;
}


[data-theme = 'light'] {
  
    --font-color:  #e0e0e0;
    --table-body-background: #232426;
    --table-header-background: #3e44b1;
    --table-name-column-color: #b7ebde;
    --table-cell-hover: #3a3a3a;
    --table-access-column-color: #0f2922;

    --grey-100: #141414;
    --grey-200: #292929;
    --grey-300: #3d3d3d;
    --grey-400: #525252;
    --grey-500: #666666;
    --grey-600: #858585;
    --grey-700: #a3a3a3;
    --grey-800: #c2c2c2;
    --grey-900: #e0e0e0;

    --primary-100: #040509;
    --primary-200: #080b12;
    --primary-300: #0c101b;
    --primary-400: #101624;
    --primary-500: #141b2d;
    --primary-600: #434957;
    --primary-700: #727681;
    --primary-800: #a1a4ab;
    --primary-900: #d0d1d5;


    --blueAccent-100: #151632;
    --blueAccent-200: #2a2d64;
    --blueAccent-300: #3e4396;
    --blueAccent-400: #535ac8;
    --blueAccent-500: #6870fa;
    --blueAccent-600: #868dfb;
    --blueAccent-700: #a4a9fc;
    --blueAccent-800: #c3c6fd;
    --blueAccent-900: #e1e2fe;


    --redAccent-100: #2c100f;
    --redAccent-200: #58201e;
    --redAccent-300: #832f2c;
    --redAccent-400: #af3f3b;
    --redAccent-500: #db4f4a;
    --redAccent-600: #e2726e;
    --redAccent-700: #e99592;
    --redAccent-800: #f1b9b7;
    --redAccent-900: #f8dcdb;

 
    --greenAccent-100: #0f2922;
    --greenAccent-200: #1e5245;
    --greenAccent-300: #2e7c67;
    --greenAccent-400: #3da58a;
    --greenAccent-500: #4cceac;
    --greenAccent-600: #70d8bd;
    --greenAccent-700: #94e2cd;
    --greenAccent-800: #b7ebde;
    --greenAccent-900: #dbf5ee;
}
